@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	color: white;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}


h1 {
	margin-top: 0;
	font-family: 'Creepster', cursive;
	font-size: 500;
	background: -webkit-linear-gradient( 45deg, aqua, yellow);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

a {
	color: white;
	outline: none;
  	text-decoration: none;
  	padding: 2px 1px 0;
  	text-transform: uppercase;
}

a:hover {
	border-bottom: 1px solid;
 	background: white;
 	color: black
}

.header a:hover .twi {
	background: black;
}

hr {
	border-color: white;
	border-style: dashed none none;
	border-width: 1.5px;
	width: 15%;
	padding: 0;
	/*padding-top: 4vh;*/
}

.header {
	display: flex;
	align-content: space-between;
	/*flex-wrap: nowrap;*/
	align-items: center;
	position: fixed;
	/*background-color: black;*/
	/*padding: 10px; */
	width: 100vw;
	/*border-width: 50px;*/
	border-color: white;
	/*padding-top: 2vh;*/
}

.logo {
	/*position: absolute;*/
	/*flex:1;*/
	/*padding-top: 2.4vh;*/
	/*padding-left: 44vw;*/
	font-family: 'Creepster', cursive;
	font-size: 30px;
	font-weight: bold;
	width: 30vw;
	order: 2;
	margin: auto;
	/*align-items: center;*/
}

.progress {
	/*position: absolute;*/
	/*padding-left: 1vw;*/
	/*padding-top: 1.6vh;*/
	/*flex:2;*/
	/*padding-left: 1vw;*/
	margin: auto;
	width: 33%;
	/*align-items: center;*/
	font-family: 'Space Mono', monospace;
	/*order: 1;*/
}


.links {
	/*padding-top: 2vh;*/
	/*position: absolute;*/
	/*flex:3;*/
	/*padding-left: 85.2vw;*/
	/*padding-right: 1vw;*/
	/*margin-left: auto;*/
	/*margin-right: 5px;*/
	/*padding-top: 2.8vh;*/
	/*width: 33%;*/
	order: 3;
	font-family: 'Space Mono', monospace;
	margin: auto;
}
.container {
/*  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;*/
  /*width: 80vw;*/
  margin: 0;
  /*margin: 0 auto;*/
  /*min-height: 100vh;*/
}


.btn-grad {
	background-image: linear-gradient(to right, #3494E6 0%, #EC6EAD  51%, #3494E6  100%)
}
.btn-grad {
    margin: 10px;
    padding: 25px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #3494E6;
    border-radius: 10px;
    display: block;
    font-family: 'Space Mono', monospace;
    border: none;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 25px #EC6EAD;
}

.footer {
	position: absolute;
	font-style: normal;
	font-family: 'Space Mono', monospace;
	padding-left: 1vw;
	/*padding-bottom: 1vh;*/
	/*padding-top: 50%;*/
}

.table {
	margin: auto;
	padding-top: 22vh;
	padding-bottom: 10vh;
	width: 65vw;
	font-family: 'Space Mono', monospace;
}

.center {
	margin: auto;
	padding-top: 5vh;
	padding-left: 35vw;
	padding-bottom: 10vh;
	width: 70%;
	font-family: 'Space Mono', monospace;
	/*height: 90vh;*/
}

.table-2 {
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 10vh;
	width: 70%;
	font-family: 'Space Mono', monospace;
}

.bottom {
	margin: auto;
	padding-top: 30vh;
	padding-left: 45vw;
	padding-bottom: 40vh;
	width: 70%;
	font-family: 'Space Mono', monospace;
}

table td, table td * {
    vertical-align: top;
}


.flexbox-container {
	margin: auto;
	padding-top: 22vh;
	padding-bottom: 10vh;
	width: 65vw;
	font-family: 'Space Mono', monospace;
	display: flex;
}

.left {
	width: 50%;
	margin: auto;
}

.right {
	width: 40%;
	margin: auto;
}

img[class="responsive"] {
		width: 100%;
		height: 100%;
}

/* MOBILE */

@media screen and (max-width: 823px)  {
	.flexbox-container {
		flex-direction: column;
	}

	.left {
	width: 100%;
	margin: auto;
	}

	.right {
	width: 100%;
	margin: auto;
	}

	.header {
		padding-top: 3vh;
		flex-direction: column;
		width: 100vw;
		margin: auto;
		align-items: center;
	}

	.logo {
		order: 0;
		width: auto;
		margin: auto;
		white-space: nowrap;
		align-self: left;
	}
	.progress {
		/*order: 2;*/
		margin: auto;
		width: auto;
		/*flex-basis: 100%;*/
		white-space: nowrap;
		/*align-self: left;*/
		font-size: 10px;
		padding: 0;
	}
	div .container {
		width: 195px;
		margin: auto;
	}
	form {
		width: auto;
		margin: auto;
	}
	input {
		width: auto;
		margin: auto;
	}
}


/*
emoji list

li {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 1rem;
    text-indent: -0.7rem;
}

li:nth-child(3n+1)::before {
	content: "🦴 ";
}

li:nth-child(3n+2)::before {
	content: "🍖 ";
}

li:nth-child(3n)::before {
	content: "🍗 ";
}*/